# Live-build temporary and working directories
.build/
chroot/
binary/
source/
cache/

config/includes.chroot/usr/local/bin/*
!config/includes.chroot/usr/local/bin/.gitkeep

# Generated ISO files
honeycrisp-os-*.iso
honeycrisp-os-*.img
honeycrisp-os-*.hybrid.iso
honeycrisp-os-*.hybrid.iso.zsync
honeycrisp-os-*.contents
honeycrisp-os-*.files
honeycrisp-os-*.packages
chroot.files
binary.modified_timestamps
chroot.installed_tmp_pkgs
chroot.packages.install
chroot.packages.live

# Docker and editor metadata
.DS_Store
.vscode/
*.log

chroot.tmp/

.lock