[Unit]
Description=Honeycrisp OS Flutter Shell Service
After=graphical.target

[Service]
Type=simple
User=root
Environment=DISPLAY=:0
Environment=XAUTHORITY=/root/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/0
ExecStartPre=/bin/sh -c 'until xset q >/dev/null 2>&1; do sleep 0.5; done'
WorkingDirectory=/usr/lib/honeycrisp_shell
ExecStart=/bin/sh -c '/usr/lib/honeycrisp_shell/honeycrisp_shell > /dev/tty3 2>&1'
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=graphical.target